<!DOCTYPE html>

<!-- Mirrored from themes.webinane.com/ducan/blog2.html by HTTrack Website Copier/3.x [XR&CO'2010], Thu, 11 Dec 2014 06:22:18 GMT -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Event Over User detail</title>
<meta name="description" content="" />
<meta name="keywords" content="" />


<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Raleway:400,300,600,700,500|Noto+Sans:400,700' rel='stylesheet' type='text/css'>


<!-- Styles -->
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" /><!-- Bootstrap -->
<link rel="stylesheet" href="/font-awesome-4.0.3/css/font-awesome.css" type="text/css" /><!-- Font Awesome -->
<link rel="stylesheet" href="/css/owl.carousel.css" type="text/css" /><!-- Owl Carousal -->	
<link rel="stylesheet" href="/css/animate.css" type="text/css" /><!-- Animation -->	



<link rel="stylesheet" href="/css/style.css" type="text/css" /><!-- Style -->	
<link rel="stylesheet" href="/css/responsive.css" type="text/css" /><!-- Responsive -->	
<link rel="stylesheet" type="text/css" href="css/revolution.css" media="screen" /> <!-- Slider Revolution -->	
<link rel="alternate stylesheet " type="text/css" href="/css/purple.css" title="purple" /> <!-- Purple -->
<link rel="alternate stylesheet" type="text/css" href="/css/green.css" title="green"/> <!-- Green -->
<link rel="alternate stylesheet" type="text/css" href="/css/orange.css" title="orange" /> <!-- Orange -->
<link rel="alternate stylesheet" type="text/css" href="/css/cyan.css" title="cyan"/> <!-- Cyan -->
<link rel="alternate stylesheet" type="text/css" href="/css/red.css" title="red"/> <!-- Red -->
<link rel="alternate stylesheet" type="text/css" href="/css/black.css" title="black"/> <!-- Black -->
<link rel="alternate stylesheet" type="text/css" href="/css/pink.css" title="pink"/> <!-- Pink -->
<link rel="alternate stylesheet" type="text/css" href="/css/gray.css" title="gray"/> <!-- Gray -->
<link rel="alternate stylesheet" type="text/css" href="/css/grunge.css" title="grunge"/> <!-- Grunge -->
<link rel="alternate stylesheet" type="text/css" href="/css/brown.css" title="brown"/> <!-- Brown -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



</head>

<style>
.dot {
  height: 25px;
  width: 25px;
  background-color: gray;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
  display: inline-block;
  color: white;
}
.active {
	text-decoration:underline;
}
</style>


<body style="background-color: #F2EFE4">
<div class="theme-layout">

	<header class="header1" style="border-bottom: 1px solid gray; margin-top: -7px;height:70px">
	<nav>	
		   <div class="">
			<div class="menu">
				<ul>
					<li><a href="#" title=""><img src="/images/logos.PNG" style="margin-top: -18px"></a></li>
					<li><a href="/top-world" title="">Top-50 World</a></li>
					<li><a href="/top-russia" title="">Top-250 Russia</a></li>
					<li><a href="/top-italy" title="">Top-250 Italy</a></li>
					<li><a href="/room" title="">Room</a></li>
					<li><a href="/event" title="" class="active">Events</a></li>
					<li><a href="#" title="">Clubs</a></li>
					<li><a href="#" title="" class="activ">Users</a></li>
				</ul>
			</div>

		</div>
	</nav>
	<hr>
	<hr>
	<hr>	
</header>


	
	<header class="responsive-header">
	
		<Div class="logo">
			<a href="index.html" title="">
				<img src="/images/logos.PNG" style="margin-top: -18px">
			</a>
		</div>
		<div class="responsive-menu">
				<a class="menu-dropdown-btn" title="">MENU <i class="fa fa-align-justify"></i></a>
			<ul>
				<li><a href="#" title="" >Top-50 World</a></li>
						<li><a href="/top-world " title="">Top-50 World</a></li>
					<li><a href="/top-russia" title="">Top-250 Russia</a></li>
					<li><a href="/top-italy" title="">Top-250 Italy</a></li>
					<li><a href="/room" title="">Room</a></li>
					<li><a href="/event" title="" class="active">Events</a></li>
					<li><a href="#" title="">Clubs</a></li>
					<li><a href="#" title="" class="active">Users</a></li>
			</ul>
		</div>	
	</header>

		<!-- ------------------------------------------------------------------------------ -->

<section class="block" style="margin-top: -24px">
	<div class="container">
			<center><a href="https://www.joinclubhouse.com/app"><img src="/images/piiiiiiiic.PNG" style="width: ;height: "></a></center>
		<div class="row">
		  <div class="col-md-3"></div>
		  <div class="col-md-6">
		    <div class="card">
		      <div class="card-body">

		        <div class="product-tab" style="width: 100%;">
							<div class="tab-content" id="myTabContent">
								<div id="recent" class="tab-pane  in active">
									<div class="tab-recent" id="tab-recent">
										<ul style="text-decoration: none;list-style: none;">
											<li><span><img src="<%= tops.img1  %>" style="border-radius: 33px; width:100px;height: 100px; " alt=""  />
											</span>
											<h4 style="color: gray"><%= tops.time %></h4>
											<h1 style="margin-top: 4px;color: black;font-size: 16px"><%= tops.name %></h1><br>
											<i><h1 style="margin-top: 4px;color: gray;font-size: 14px"><%= tops.users %>--<%= tops.bio %></h1></i>
											
											</li>
										</ul>
				
									</div>
								</div>
								
							</div>
						</div>
						<!-- <div style="margin: 22px;">
				<a href="" style="color:black;text-decoration: underline;"><h3>Instagram</h3></a>
				<h5>Security researcher 🛡️</h5>
				<h5>Developer 💫</h5>
				<h5>🇷🇺 Kazan, Russia</h5>
				<h5>💌 dmitry[at]sobolev.com</h5>
					    </div> -->
		    </div>
		  </div>
		  <div class="col-md-3"></div>

		</div>
		<br>

	</div>
			<center><a href="https://www.joinclubhouse.com/app"><img src="/images/picccs.PNG" style="width: ;height: "></a></center>


</section>





<!-- ====------------------------------------------------------------------------------ -->

<div class="bottom-line">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
			</div>
			
		</div>
	</div>
	<span>ClubhouseRanking. Made with love. Please contact us with any questions through this <a>online</a> form or write in <a>telegram.</a> Thanks!</span>
</div>

</div>
	
<!-- Script -->
<script src="/js/jquery-1.10.2.js"></script><!-- Jquery -->
<!-- <script src="/js/script.js"></script><!-- Common --> -->
<script type="text/javascript"  src="/js/bootstrap.min.js"></script><!-- Bootstrap -->
<script type="text/javascript"  src="/js/modernizr.js"></script><!-- modernizr -->
<script type="text/javascript"  src="/js/owl.carousel.min.js"></script><!-- Owl Carousal -->
<script type="text/javascript"  src="/js/onscreen.js"></script><!-- On Screen -->
<script type="text/javascript"  src="/js/switcher.js"></script><!-- Style Switcher -->


<!-- SLIDER REVOLUTION -->
<script type="text/javascript" src="/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>


<script type="text/javascript">

	$(document).ready(function() {
	
	$(".footer-deal").owlCarousel({
	autoPlay :true,
	stopOnHover : true,
	goToFirstSpeed : 2000,
	slideSpeed:1500,
	singleItem : true,
	autoHeight : true,
	transitionStyle:"goDown",
	paginationNumbers:true
	});	
	
	$("#tab-recent").owlCarousel({
	autoPlay :false,
	stopOnHover : true,
	navigation:true,
	goToFirstSpeed : 2000,
	slideSpeed:1500,
	singleItem : true,
	autoHeight : true,
	pagination:false,
	transitionStyle:"goDown"
	});

	$("#tab-popular").owlCarousel({
	autoPlay :true,
	stopOnHover : true,
	navigation:true,
	goToFirstSpeed : 2000,
	slideSpeed:1500,
	singleItem : true,
	autoHeight : true,
	pagination:false,
	transitionStyle:"goDown"
	});
	
	$("#product-post").owlCarousel({
	autoPlay: 20000, //Set AutoPlay to 20 seconds
	navigation:true,
	items : 1
	});
	
	
	});


</script>	

</body>

<!-- Mirrored from themes.webinane.com/ducan/blog2.html by HTTrack Website Copier/3.x [XR&CO'2010], Thu, 11 Dec 2014 06:22:28 GMT -->
</html>