<!DOCTYPE html>

<!-- Mirrored from themes.webinane.com/ducan/blog2.html by HTTrack Website Copier/3.x [XR&CO'2010], Thu, 11 Dec 2014 06:22:18 GMT -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Top Russia</title>
<meta name="description" content="" />
<meta name="keywords" content="" />


<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Raleway:400,300,600,700,500|Noto+Sans:400,700' rel='stylesheet' type='text/css'>


<!-- Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" /><!-- Bootstrap -->
<link rel="stylesheet" href="font-awesome-4.0.3/css/font-awesome.css" type="text/css" /><!-- Font Awesome -->
<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" /><!-- Owl Carousal -->	
<link rel="stylesheet" href="css/animate.css" type="text/css" /><!-- Animation -->	



<link rel="stylesheet" href="css/style.css" type="text/css" /><!-- Style -->	
<link rel="stylesheet" href="css/responsive.css" type="text/css" /><!-- Responsive -->	
<link rel="stylesheet" type="text/css" href="css/revolution.css" media="screen" /> <!-- Slider Revolution -->	
<link rel="alternate stylesheet " type="text/css" href="css/purple.css" title="purple" /> <!-- Purple -->
<link rel="alternate stylesheet" type="text/css" href="css/green.css" title="green"/> <!-- Green -->
<link rel="alternate stylesheet" type="text/css" href="css/orange.css" title="orange" /> <!-- Orange -->
<link rel="alternate stylesheet" type="text/css" href="css/cyan.css" title="cyan"/> <!-- Cyan -->
<link rel="alternate stylesheet" type="text/css" href="css/red.css" title="red"/> <!-- Red -->
<link rel="alternate stylesheet" type="text/css" href="css/black.css" title="black"/> <!-- Black -->
<link rel="alternate stylesheet" type="text/css" href="css/pink.css" title="pink"/> <!-- Pink -->
<link rel="alternate stylesheet" type="text/css" href="css/gray.css" title="gray"/> <!-- Gray -->
<link rel="alternate stylesheet" type="text/css" href="css/grunge.css" title="grunge"/> <!-- Grunge -->
<link rel="alternate stylesheet" type="text/css" href="css/brown.css" title="brown"/> <!-- Brown -->

</head>

<style>
.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  font-weight: 600;
  border-radius: 50%;
  display: inline-block;
  color: black;
}
.active {
	text-decoration:underline;
}
h5{
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
</style>

<script>
        setInterval(function () { autoloadpage(); }, 3000); // it will call the function autoload() after each 30 seconds. 
        function autoloadpage() {
            $.ajax({
                url: "/user/:username",
                type: "GET",
                success: function(data) {
                    $("#wrapper").html(data); // here the wrapper is main div
                }
            });
        }
        </script>


<body style="background-color: #F2EFE4" onload="load()">
<div class="theme-layout">

	<header class="header1" style="border-bottom: 1px solid black; margin-top: -7px;height:70px">
	<nav>	
		   <div class="">
			<div class="menu">
				<ul>
					<li><a href="#" title=""><img src="images/logos.PNG" style="margin-top: -18px"></a></li>
					<li><a href="/top-worlds" title="">Top-50 World</a></li>
					<li><a href="/Top-250-russia" title="" class="active">Top-250 Russia</a></li>
					<li><a href="/Top-250-italy" title="">Top-250 Italy</a></li>
					<li><a href="/rooms" title="">Room</a></li>
					<li><a href="/events" title="">Events</a></li>
					<li><a href="#" title="">Clubs</a></li>
					<li><a href="#" title="">Users</a></li>
				</ul>
			</div>

		</div>
	</nav>
	<hr>
	<hr>
	<hr>	
</header>


	
	<header class="responsive-header">
	
		<Div class="logo">
			<a href="index.html" title="">
				<img src="images/logos.PNG" style="margin-top: -18px">
			</a>
		</div>
		<div class="responsive-menu">
				<a class="menu-dropdown-btn" title="">MENU <i class="fa fa-align-justify"></i></a>
			<ul>
				    <li><a href="/top-worlds" title="">Top-50 World</a></li>
					<li><a href="/Top-250-russia" title="" class="active">Top-250 Russia</a></li>
					<li><a href="/Top-250-italy" title="">Top-250 Italy</a></li>
					<li><a href="/rooms" title="">Room</a></li>
					<li><a href="/events" title="">Events</a></li>
					<li><a href="#" title="">Clubs</a></li>
					<li><a href="#" title="">Users</a></li>
			</ul>
		</div>	
	</header>

		<!-- ------------------------------------------------------------------------------ -->

<section class="block" style="margin-top: -34px">
	<div class="container">
<p style="font-size: 30px">Top-250 Russia:<span style="color: gray">ranking of the most popular Clubhouse influencers in Russia</span><br><i style="font-size: 22px;color: #86BE99">ranking is updated every hour</i></p>
			<% top.forEach(function(tops){ %>
				<div class="row black" style="border-botto: 1px solid #86BE99">
					<div class="col-md-12">
						<aside>
		                    <a href="/user/<%= tops.username %>">
								<div class="product-tab" style="width: 150%;">
									<div class="tab-content" id="myTabContent" style="background-color: #F2EFE4">
										<div id="recent" class="tab-pane fade in active">
											<div class="tab-recent" id="tab-recent">
												<ul style="text-decoration: none;list-style: none;">
													<li><span><img src="<%= tops.img %>" style="border-radius: 33px; width:130px;height: 130px; " alt=""  />
													<span class="dot" style="margin-top: 112px;margin-right: 12px;padding: 3px;"><%= tops.rate %></span></span>
													<h4 style="color: gray">Followers:</h4>
													<h1 style="margin-top: -7px;color: black"><%= tops.followers%></h1>
													<h2 style="margin-top: -6px;color: gray">
												<%= tops.username %><span style="color: black"><%= tops.name %></span></h2>
													   <h5 style="color: black"><i><%= tops.bio %></i></h5>
													</li>
													
													
												</ul>
						
											</div>
										</div>
										
									</div>
								</div>
						    </a>
						</aside>
					</div>
				</div><br>
	    	<% }); %>

		<!-- <div class="row black" style="border-botto: 1px solid #86BE99;margin-top: -15px" >
			<div class="col-md-12">
				<aside>
                    <a href="">
						<div class="product-tab" style="width: 150%;">
							<div class="tab-content" id="myTabContent" style="background-color: #F2EFE4">
								<div id="recent" class="tab-pane fade in active">
									<div class="tab-recent" id="tab-recent">
										<ul style="text-decoration: none;list-style: none;">
											<li><span><img src="images/product-tab.jpg" style="border-radius: 33px; width:130px;height: 130px; " alt=""  />
											<span class="dot" style="margin-top: 112px;margin-right: 12px;padding: 3px;">#1</span></span>
											<h4 style="color: gray">Followers:</h4>
											<h1 style="margin-top: -7px;color: black">890765</h1>
											<h2 style="margin-top: -6px;color: black">Hussain Ali</h2>
											   <h5 style="color: black"><i>Lorem ipsum dolor sit ame, consectetur adipiscing</i></h5>
											</li>
											
											
										</ul>
				
									</div>
								</div>
								
							</div>
						</div>
				    </a>
				</aside>
			</div>
		</div><br> -->


	</div>

</section>



<!-- ====------------------------------------------------------------------------------ -->

<div class="bottom-line">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
			</div>
			
		</div>
	</div>
	<span>ClubhouseRanking. Made with love. Please contact us with any questions through this <a>online</a> form or write in <a>telegram.</a> Thanks!</span>
</div>

</div>
	
<!-- Script -->
<script src="js/jquery-1.10.2.js"></script><!-- Jquery -->
<script src="js/script.js"></script><!-- Common -->
<script type="text/javascript"  src="js/bootstrap.min.js"></script><!-- Bootstrap -->
<script type="text/javascript"  src="js/modernizr.js"></script><!-- modernizr -->
<script type="text/javascript"  src="js/owl.carousel.min.js"></script><!-- Owl Carousal -->
<script type="text/javascript"  src="js/onscreen.js"></script><!-- On Screen -->
<script type="text/javascript"  src="js/switcher.js"></script><!-- Style Switcher -->


<!-- SLIDER REVOLUTION -->
<script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>


<script type="text/javascript">

	$(document).ready(function() {
	
	$(".footer-deal").owlCarousel({
	autoPlay :true,
	stopOnHover : true,
	goToFirstSpeed : 2000,
	slideSpeed:1500,
	singleItem : true,
	autoHeight : true,
	transitionStyle:"goDown",
	paginationNumbers:true
	});	
	
	$("#tab-recent").owlCarousel({
	autoPlay :false,
	stopOnHover : true,
	navigation:true,
	goToFirstSpeed : 2000,
	slideSpeed:1500,
	singleItem : true,
	autoHeight : true,
	pagination:false,
	transitionStyle:"goDown"
	});

	$("#tab-popular").owlCarousel({
	autoPlay :true,
	stopOnHover : true,
	navigation:true,
	goToFirstSpeed : 2000,
	slideSpeed:1500,
	singleItem : true,
	autoHeight : true,
	pagination:false,
	transitionStyle:"goDown"
	});
	
	$("#product-post").owlCarousel({
	autoPlay: 20000, //Set AutoPlay to 20 seconds
	navigation:true,
	items : 1
	});
	
	
	});


</script>

<script type="text/javascript">
function load()
{
setTimeout("window.open(self.location, '_self');", 3000);
}
</script>


</body>

<!-- Mirrored from themes.webinane.com/ducan/blog2.html by HTTrack Website Copier/3.x [XR&CO'2010], Thu, 11 Dec 2014 06:22:28 GMT -->
</html>